<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav" id="renderAdminSiteMenu">
                <!-- Render site menu -->
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-border text-white spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>Shan
        </div> -->
    </nav>
</div>